<div class="container center margin-top-wrapper">
  <div class="panel panel-primary">
    <div class="panel-heading">お問い合わせメールアドレス</div>
    <div class="panel-body">
        tty.engineerforbiz@gmail.com
    </div>
  </div>

  <div class="bg_wrapper">
    <p>バグ報告、追加機能依頼はこちらからお願いします。：from 開発者😎</p>
  </div>
</div>
