<div class="center">
  <%= image_tag('twicode-top.png', class: 'top-image') %>
    <p class="top-description"><i class="glyphicon glyphicon-console"></i>Twicodeで、コードをシェアしよう。</p>

  <section class="service">
    <div class="service-contain">
      <h3>ABOUT SERVICE</h3>
      <div class="bg_wrapper-trans">
      <p class="left">Twicodeは、ちょっとしたコードから複雑なコードまで、価値のあるコードをTwitterへ簡単に共有できるサービスです。</p>
      <h4>Share</h4>
      <%= image_tag('share.png', class: 'top-icons') %>
      <p class="left">Twicodeで作成したデータは、ワンタップでTwitter上に共有することが可能です。多くのユーザを抱えるTwitterに露出させることで、あなたのコードを欲している人に届けることができます。</p>
      <h4>Comments</h4>
      <%= image_tag('comments.png', class: 'top-icons') %>
      <p class="left">それぞれのコードにコメントをすることができます。作成者とディスカッションすることでコードの理解を深めましょう。また、間違った記述を指摘することも可能です。共有することによってコードを洗練させていきましょう。</p>
      <h4>Good</h4>
      <%= image_tag('good.png', class: 'top-icons') %>
      <p class="left">コードが役に立ったら「いいね」しましょう！そのページの作者のモチベーションを上げることができ、逆に自分のページであればモチベーションや達成感を得ることができます。</p>
      </div>
    </div>
  </section>

</div>

<div id="bg1" class="top-background" data-0="background-position:0px 0px;" data-2000="background-position:50px -1000px;"></div>
<div id="bg2" class="top-background" data-0="background-position:0px 0px;" data-2000="background-position:10px -700px;"></div>

<!-- skrollrの実行コード -->
<%# <script type="text/javascript">
    var s = skrollr.init();

    // document.addEventListener('skrollr', function (e) {
    //   var s = skrollr.init();
    // }, { passive: false });
</script> %>


