<div class="center">
  <%= image_tag('twicode-top.png', class: 'top-image') %>
  <div class="body-wrapper">
    <p class="top-description">Twicodeで、コードをシェアしよう。</p>
  </div>
</div>

<div id="bg1" class="top-background" data-0="background-position:0px 0px;" data-2000="background-position:50px -1000px;"></div>
<div id="bg2" class="top-background" data-0="background-position:0px 0px;" data-2000="background-position:10px -700px;"></div>
<!-- skrollrの実行コード -->
<script type="text/javascript">
    var s = skrollr.init();
</script>
