<div class="center">
  <%= image_tag('twicode-top.png', class: 'top-image') %>
  <div class="body-wrapper">
    <p class="top-description">Twicodeで、コードをシェアしよう。</p>
  </div>
</div>

<!-- ↓下の三行がskrollrの実行コードです。これを入れることでskrollrが動き始めます。 -->
<%# <script type="text/javascript">
    var s = skrollr.init();
</script> %>

