<div class="container center">
  <h1>開発者をサポートする</h1>
  <i class="glyphicon glyphicon-btc bigger-icon"></i>

  <div class="panel panel-info">
    <div class="panel-heading">開発者のビットコインアドレス</div>
    <div class="panel-body">
      Comming Soon...
    </div>
  </div>
  <div class="markdown-wrapper text-left">
    <p>Twicodeは個人開発のプロダクトです。ストレスなく利用して貰いたいため、広告は一切添付していません。</p>
    <p>このサービスが少しでも「良いな！」と思ったら是非ご支援よろしくお願いいたします。モチベーションにします。</p>
    <h2>Bitcoinについて</h2>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Gc2en3nHxA4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

