// show
textarea.textarea-body {
    height: 400px;
    resize: none;
}

.textarea-wrapper {
    margin: 0;
}

.share-card {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    border: 1px #aaa solid;
    border-radius: 5px;
    .card-img {
        width: 100%;
    }
    h4 {
        padding: 5px;
        background-color: #eee;
    }
    @include media {
        width: 100%;
    }
}

.margin-bottom-wrapper button.btn.btn-danger a {
    color: #fff;
}

.glyphicon-heart {
    color: rgb(255, 0, 34);
}
//index-comment

//左側（他ユーザ）
.comment-other {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}
.comment-other-icon {
    img {
        border-radius: 50%;
    }
    margin-right: 20px;
    p {
        color: #aaa;
    }
}

.chat-other {
    width: 100%;
    text-align: left;
}

.comment-other-description {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 10px;
    padding: 10px;
    max-width: 80%;
    border-radius: 12px;
    background: #edf1ee;
}

.comment-other-description:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px; 
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.comment-other-description p {
    margin: 0;
    padding: 0;
}

//右側
.comment {
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
    align-items: center;
}
.comment-icon {
    img {
        border-radius: 50%;
    }
    margin-left: 20px;
    p {
        color: #aaa;
    }
}

.chat {
    width: 100%;
    text-align: right;
    p {
        text-align: left;
    }
}

.comment-description {
    margin: 10px 0;
}
.comment-description p{
    display: inline-block;
    position: relative; 
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 80%;
    border-radius: 12px;
    background: #30e852;
}

.comment-description p:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

//最終調整
.comment, .comment-other {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}


// index
.code-index-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #000;
    color: #0f0;
}

.bs-callout {
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #1b809e;
}

.user_profile_image_code_index {
    border-radius: 50%;
    margin-right: 10px;
}

//もしもログインしていなかったら
.continue {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,1) 100%);
    transform: translateY(-200px);
    padding: 20px;
    padding-top: 200px;
    margin: 10px auto;
    margin-bottom: -100px;
    p {
        padding: 20px;
    }
    .btn.btn-info a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
}

//turbolinks対応
.nav-tabs >  li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
}

.nav-tabs > li > .no-turbolink > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
}
.nav > li > .no-turbolink > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs > li > .no-turbolink > a:hover {
    background-color: #eee;
}