// show
textarea.textarea-body {
    height: 400px;
    resize: none;
}

.textarea-wrapper {
    margin: 0;
}

.share-card {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    border: 1px #aaa solid;
    border-radius: 5px;
    .card-img {
        width: 100%;
    }
    h4 {
        padding: 5px;
        background-color: #eee;
    }
    @include media {
        width: 100%;
    }
}

.margin-bottom-wrapper button.btn.btn-danger a {
    color: #fff;
}

.glyphicon-heart {
    color: rgb(255, 0, 34);
}

// index
.code-index-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #000;
    color: #0f0;
}

.bs-callout {
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #1b809e;
}

.user_profile_image_code_index {
    border-radius: 50%;
    margin-right: 10px;
}

//もしもログインしていなかったら
.continue {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,1) 100%);
    transform: translateY(-200px);
    padding: 20px;
    padding-top: 200px;
    margin: 10px auto;
    margin-bottom: -100px;
    p {
        padding: 20px;
    }
    .btn.btn-info a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
}

//turbolinks対応
.nav-tabs >  li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
}

.nav-tabs > li > .no-turbolink > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
}
.nav > li > .no-turbolink > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs > li > .no-turbolink > a:hover {
    background-color: #eee;
}