//メディアクエリ定義
@mixin media($width-media: 700px) {
    @media only screen and (max-width: $width-media) {
        @content;
    }
}

@mixin media-bootstrap($width-media: 767px) {
    @media only screen and (max-width: $width-media) {
        @content;
    }
}

//common-settings
body {
    padding-top: 50px;
}

//turbolinkをオフにした時のリンクデザインをBootstrap3に合わせる
.no-turbolink {
    margin: 0;
    padding: 0;
    display: inline;
}
.dropdown-menu > li > .no-turbolink > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
}
.dropdown-menu > li > .no-turbolink > a:hover {
    background-color: #eee;
}

//Markdown記法説明のためのCSSキャンセル
.clear_css {
    h2{
        font-size: 3.0rem !important;
        color: initial !important;
        position: initial !important;
        padding-bottom: initial !important;
        border-bottom: initial !important;
        margin: 10px 0 !important;
    }
    h2::after {
        position: initial !important;
        bottom: initial !important;
        left: initial !important;
        z-index: initial !important;
        content: initial !important;
        width: initial !important;
        height: initial !important;
        background-color: initial !important;
    }
    h3 {
        padding-bottom: initial !important;
        border-bottom: initial !important;
        margin: 10px 0 !important;
    }
    .markdown-wrapper h3 {
        
    }
}

//navbar
.navbar-brand {
    padding: 0;
}
.logo-image {
    height: auto;
    width: 200px;
    padding: 10px;
}
.navbar-default {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
//navbar-bootstrap
@include media-bootstrap {
    .navbar-default .navbar-nav .open .dropdown-menu > li > .no-turbolink > a {
        color: #777;
    }
    .navbar-nav .open .dropdown-menu > li > .no-turbolink > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > .no-turbolink > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}

//flash-message
.notice {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.center {
    text-align: center;
    margin: 0 auto;
}
.left {
    text-align: left;
}

.margin-top-wrapper {
    margin-top: 20px;
}
.margin-bottom-wrapper {
    margin-bottom:20px;
}

.bg_wrapper {
    background-color: #efefef;
    width: 70%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
    @include media {
        width: 85%;
    }
}
.bg_wrapper-sub {
    background-color: #efefef;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    @include media {
        width: 85%;
    }
}
.bg_wrapper-trans {
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    @include media {
        width: 85%;
    }
}

//テーブル
table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
}

table th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
}
table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}

tr:nth-child(even) {
    background: #d9d9d9;
}

//footer
footer {
    width: 100%;
    padding: 10px;
    background-color: #eee;
    margin-top: 20px;
    p {
        padding: 10px;
    }
}