//index
.top-image {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
}
.top-description {
    font-weight: bold;
}

.service {
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(242, 242, 242, 0.5);
    h4 {
        margin: 10px auto;
        margin-top: 20px;
        position: relative;
        margin-bottom: 1em;
    }
    h4::before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 5px;
        left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: black;
        border-radius: 2px;
    }
    p {
        font-weight: bold;
    }
}
.top-icons {
    padding: 20px;
    width: 30%;
    border-radius: 50%;
    @include media {
        width: 80%;
    }
}

//背景画像の設定(skrollr)
div.top-background {
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    }
#bg1 {
    background: url(/images/top-front.png) repeat 0 0 scroll;
    z-index: -10;
}
#bg2 {
    background: url(/images/top-back.png) repeat 0 0 scroll;
    z-index: -11;
}

// howto
.markdown-wrapper {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    @include media {
        width: 90%;
    }

    h2 {
        font-size: 2.0rem;
        color: #3498db;
        position: relative;
        padding-bottom: .5em;
        border-bottom: 4px solid #ccc;
    }
    h2::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        z-index: 2;
        content: '';
        width: 20%;
        height: 4px;
        background-color: #3498db;
    }

    h3 {
        padding-bottom: .5em;
        margin-top: 50px;
        border-bottom: 1px solid #ccc;
    }
}

//support
.bigger-icon {
    font-size: 5.0rem;
    padding: 20px;
}

.text-left {
    text-align: left;
}