@keyframes floating{
    0% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(3px);
    }
}

.user_profile_image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: floating 0.5s ease-in-out infinite alternate;

    @include media {
        height: 150px;
        width: 150px;
    }
}

.user-description {
    font-weight: bold;
    width: 50%;
    border-radius: 5px;
    background-color: #bbb;
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    @include media {
        width: 95%;
        font-size: 0.9rem;
    }
}